################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/*/obj
/*/bin
/RentACar.Server/RentACar.Server.csproj.user
/RentACar.Server/Properties/launchSettings.json
/RentACar.Client/RentACar.Client.csproj.user
/RentACar.Client/Properties/launchSettings.json
/.ionide/symbolCache.db
