@inherits BlazorLayoutComponent

<div class="header">
    <div class="logo">
            RentACar
    </div>
    <div class="menu-bar">
        <NavMenu/>
    </div>
    <div class="clear-float"></div>
</div>

<div class="main">
        @Body
</div>