<ul class="menu">
    <li class="menu_item">
        <span class="oi oi-home" aria-hidden="true"></span>
        <NavLink  href=""> Home </NavLink>
    </li>
    <li class="menu_item">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
        <NavLink ActiveClass="selected" href="announcements"> Rental Announcements </NavLink>
    </li>
    <li class="menu_item">
        <span class="oi oi-person" aria-hidden="true"></span>
        <NavLink ActiveClass="selected" href="register"> Register </NavLink>
    </li>
</ul>
