@page "/register"

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col">First name: </div>
        <div class="col">
            <input required type="text" />
            <br />
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col">Last name: </div>
        <div class="col">
            <input required type="text" />
            <br />
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col">Address: </div>
        <div class="col">
            <input required type="text" />
            <br />
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col">Email: </div>
        <div class="col">
            <input required type="email" />
            <br />
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col">Password: </div>
        <div class="col">
            <input required type="password" />
            <br />
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col">Confirm password: </div>
        <div class="col">
            <input required type="password" />
            <br />
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col">Password: </div>
        <div class="col">
            <input required type="password" />
            <br />
        </div>
    </div>

    <div class="row right">
        <div class="col justify-content-md-center">
        <button class="submit_button">
            Submit
        </button>
        </div>
    </div>

</div>
