@page "/success"

<div class="message-display">
    <h3>You have successfuly created an account!</h3>
    <h5><NavLink href="/login">Log in </NavLink> and then head over to the <NavLink href="/search"> search page </NavLink> in order to find a car.</h5>
</div>
