@page "/unauthorized"

<div class="message-display">
    <h3>Unauthorized</h3>
    <h5>This page is only accesible for admin users.</h5>
    <h5><NavLink href="/login">Log in </NavLink> as an admin or head back <NavLink href="/index"> home</NavLink>.</h5>
</div>
