@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.header {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
}

.logo {
    width: 10%;
    float: left;
}

.logo img {
    width: 100%;
}

.menu-bar {
    width: 80%;
    float: left;
}

.clear-float {
    clear: both;
}

.menu {
    list-style: none;
    text-align: right;
}

.menu-item {
    display: inline-block;
    margin: 5px;
    color: black;
}

.menu-item a {
    color: black;
    font-weight: bold;
}

    .menu-item a:hover {
        color: darkblue;
        text-decoration: none;
    }

.main {
    width: 100%;
}

.selected {
    font-style: italic;
}

.container {
    padding-top: 5%;
    width: 40%;
}

.row{
    padding: 2.5px;
}

.col input {
    float: right;
}

.center {
    text-align: right;
}