@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    background-color: #17252A;
    color: #FFFFFF;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

.header {
    display: block;
    width: 100%;
}

.logo {
    width: 10%;
    font-family: 'Kelvinized';
    font-size: 35px;
    color: #FFFFFF;
    margin: 20px;
}

    .logo a {
        color: #FFFFFF;
        text-decoration: none;
    }

.menu-bar {
    width: 100%;
    text-align: right;
    background-color: #2B7A78;
}

.clear-float {
    clear: both;
}

.menu {
    list-style: none;
    text-align: right;
    margin-bottom: 0px;
}

.menu-item {
    display: inline-block;
    margin: 2px 10px 2px 10px;
    text-shadow: 2px 2px 5px black;
}

    .menu-item a {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
    }

    .menu-item:hover {
        text-shadow: 0px 0px 0px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.main {
    width: 100%;
}

.selected {
    text-shadow: 0px 0px 0px;
}

.container {
    padding-top: 5%;
    width: 100%;
    margin: 0;
    background-size: cover;
}

.field-container {
    width: 100%;
    padding: 30px;
    background-size: cover;
}

.search-page-background {
    background-image: url("../images/search-bg.jpg");
}

.create-page-background {
    background-image: url("../images/create-bg.jpg");
}

.register-background {
    background-image: url("../images/register-bg.jpg");
}

.format {
    width: 30%;
}

.centered-content {
    width: 40%;
    margin: auto;
}