@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
.sidebar {
    float: left;
    border-top: 1px solid black;
    background: #174241;
    padding-top: 25px;
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.nav-item a {
    width: 100%;
}
.nav-item a:hover {
    background: #2B7A78;
}
body {
    background: #17252A;
    color: #FFFFFF;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

app {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% auto 40px;
    grid-template-areas: "header" "content" "footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: auto 31px;
    grid-template-areas: "logo" "menu-bar";
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    height: 100%;
    background: #2B7A78;
    text-align: center;
    line-height: 40px;
}

.logo {
    grid-area: logo;
    font-family: 'Kelvinized';
    font-size: 35px;
    color: #FFFFFF;
    margin: 20px;
    align-self: center;
}

    .logo a {
        color: #FFFFFF;
        text-decoration: none;
    }

.menu-bar {
    grid-area: menu-bar;
    width: 100%;
    text-align: right;
    background: #2B7A78;
}

.clear-float {
    clear: both;
}

.menu {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

.app-menu {
    float: left;
}

.user-menu {
    float: right;
}

.menu-item {
    display: inline-block;
    margin: 2px 10px 2px 10px;
    text-shadow: 2px 2px 5px black;
}

    .menu-item a {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
    }

    .menu-item:hover {
        text-shadow: 0 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.selected {
    text-shadow: 0 0 0;
}

.container {
    padding-top: 5%;
    width: 100%;
    margin: 0;
    background-size: cover;
}

.field-container {
    width: 20%;
    padding: 30px;
    float: left;
}

.search-page-background {
    background-size: cover;
    background-image: url("../images/search-bg.jpg");
    -webkit-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
}

.create-page-background {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-size: cover;
    background-image: url("../images/create-bg.jpg");
}

.login-page-background {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url("../images/login-bg.jpg");
    padding: 20px;
}

.register-background {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-size: cover;
    background-image: url("../images/register-bg.jpg");
    padding: 20px;
}

.centered-content {
    width: 40%;
    margin: auto;
}

.results {
    text-align: center;
    padding: 20px;
}

.result {
    width: 65%;
    margin: 0 auto 20px auto;
    border: 1px solid #000000;
    background: #2B7A78;
    text-align: justify;
    padding: 20px 0 0 0;
    -webkit-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
}

    .result p {
        background: #032322;
        font-size: 20px;
        font-weight: 500;
        padding: 0 20px 0 20px;
        margin: 0;
    }

    .result button {
        float: right;
    }

.dialog-box {
    background: #11191C;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
}

    .dialog-box p {
        font-weight: 500;
        text-shadow: 2px 2px 5px black;
    }

.loading {
    display: table;
    margin: auto;
    font-size: 3rem;
}

.padded-content {
    padding: 20px;
}

.thumbnail {
    float: left;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 0;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.75);
}

    .thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -o-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

.description {
    float: left;
}

#announcement-modal {
    color: #000000;
}

.entry {
    width: 70%;
    margin: 20px auto;
    padding: 20px 50px;
    background: #3c1f51;
    -webkit-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.75);
}

    .entry p {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 38px;
        font-size: 20px;
    }

.user-entry-background {
    background: #3c1f51;
}

.entry-buttons {
    float: right;
}

.car-entry-background {
    background: #b75f01;
}

.management-section-title {
    font-family: Kelvinized;
    margin: 20px 0 10px 10px;
}

.message-display {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

.modal {
    color: #000000;
}