@page "/login"
@inherits LoginBase

<div class="login-page-background">

    <div class="centered-content dialog-box">

        <div class="form-group">
            <label for="email" class="control-label">Email: </label>
            <input required for="email" bind="@LoginRequest.Email" type="email" class="form-control" />
        </div>

        <div class="form-group">
            <label for="password" class="control-label">Password: </label>
            <input required for="password" bind="@LoginRequest.Password" type="password" class="form-control" />
        </div>

        @if (InvalidAttempt)
        {
            <div class="error"><em>Email or password wrong</em></div>
        }

        <div class="form-group">
            <button type="submit" class="btn" onclick="@AttemptLogin">Login</button>
        </div>

    </div>

</div>
