@page "/profile"
@inherits ProfileBase

<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" >
                <div onclick="@(() => SelectedPage = "personal")">Personal Info</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >
                <div onclick="@(() => SelectedPage = "announcements")">My announcements</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >My rentals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >Account</a>
        </li>
    </ul>
</div>

@if ("personal".Equals(SelectedPage)) 
{
    <Personal User="@CurrentUser">
    </Personal>
} 
else if ("announcements".Equals(SelectedPage))
{
    <p>nada qua</p>
}
else
{
    <p>you selected nothing</p>
}